*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    margin: 0;
    font-size: 1pc;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    color: #8b8585;
    background-color: #f1edec;
}
h1{
    text-align: center;
    
}
#encabezado{
    background-color: #1B1615;
}
#imagen{
    text-align: center;
    background-color: #1B1615;

}
#botonlog{
    background-color: #2F661F;
}
#carousel{
    text-align: center;
    display: contents;

}
.imagen{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 200px;
    
}
.boton{
    background-color: #2F661F;
    padding: 2em;
    font-size: 1em;
}
